{
  "SmawaAlertFunction": {
    "PANEL_URL": "https://[TU-DOMINIO].netlify.app",
    "S3_BUCKET": "smability-water-alerts",
    "TELEGRAM_BOT_TOKEN": "INGRESA_TU_TOKEN_AQUI",
    "TELEGRAM_CHANNEL_ID": "INGRESA_TU_ID_DE_CANAL_AQUI"
  }
}
